body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #43b1ff;
}

li {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  color: white;
}

h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  font-family: "Popin Bold";
}
@media (min-width: 520px) {
  h1 {
    font-size: 5vw;
  }
}
@media (min-width: 850px) {
  h1 {
    font-size: 3.7vw;
  }
}

h2 {
  font-size: 50px;
  padding: 0;
  margin: 20px;
}

h3 {
  margin: 10px;
  padding: 0;
}

@font-face {
  font-family: "Popin Bold";
  src: url(./fonts/Poppins-Bold.ttf) format("truetype");
  font-weight: weight;
}

@font-face {
  font-family: "Popin Norm";
  src: url(./fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: weight;
}

.home {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 14px;
  font-family: "Popin Bold";
  box-sizing: border-box;
}
@media (min-width: 425px) {
  .home {
    font-size: 18px;
  }
}
@media (min-width: 520px) {
  .home {
    font-size: 4vw;
  }
}
@media (min-width: 850px) {
  .home {
    font-size: 30px;
  }
}
.home__list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 500px;
  background-color: transparent;
  margin-top: 20px;
}
@media (min-width: 350px) {
  .home__list {
    margin: 0 5px;
    justify-content: space-around;
  }
}
.home__item {
  margin: 0 7px;
}
.home__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1d25;
}
.home__logo {
  display: none;
}
@media (min-width: 350px) {
  .home__logo {
    display: block;
    width: 45px;
    height: 45px;
    margin: 15px 15px;
  }
}
@media (min-width: 520px) {
  .home__logo {
    width: 70px;
    height: 70px;
    margin: 18px 18px;
  }
}
.home__area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.home__text {
  margin-left: 30px;
  margin-bottom: 100px;
}
@media (min-width: 415px) {
  .home__text {
    margin-left: 40px;
    margin-bottom: 100px;
  }
}
@media (min-width: 900px) {
  .home__text {
    margin-left: 80px;
    margin-bottom: 150px;
  }
}
.home__button {
  width: 150px;
  height: 45px;
  border-radius: 30px;
  text-align: center;
  background-color: coral;
  padding-top: 5px;
  margin-top: 20px;
  font-size: 15px;
  font-family: "Popin Bold";
}
@media (min-width: 415px) {
  .home__button {
    width: 200px;
    height: 50px;
    font-size: 18px;
  }
}
@media (min-width: 690px) {
  .home__button {
    width: 300px;
    height: 70px;
    font-size: 23px;
  }
}
@media (min-width: 1000px) {
  .home__button {
    width: 350px;
    height: 80px;
    font-size: 23px;
  }
}
.home__button:hover {
  background-color: #43b1ff;
  cursor: pointer;
}
.home__img {
  display: none;
}
@media (min-width: 950px) {
  .home__img {
    display: block;
    width: 40vw;
    height: 90vh;
    padding-bottom: 150px;
    -webkit-animation: home 4s infinite ease-in-out;
    animation: home 4s infinite ease-in-out;
  }
}

@-webkit-keyframes home {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(13px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes home {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(13px);
  }
  100% {
    transform: translateY(0px);
  }
}
.home__icons {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .home__icons {
    margin-bottom: 80px;
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}
@media (min-width: 415px) {
  .icon {
    width: 40px;
    height: 40px;
    margin: 5px 10px;
  }
}
@media (min-width: 690px) {
  .icon {
    width: 50px;
    height: 50px;
    margin: 5px 15px;
  }
}
.icon:hover {
  -webkit-filter: invert(0.5) sepia(1) saturate(15) hue-rotate(150deg);
  filter: invert(0.5) sepia(1) saturate(15) hue-rotate(150deg);
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
  font-family: "Popin Norm";

  font-weight: 400;
}
@media (min-width: 500px) {
  .aboutme {
    flex-direction: row;
    justify-content: center;
    font-size: 22px;
  }
}
.aboutme__text {
  text-align: center;
  max-width: 900px;
  transform: translateX(-120%);
  opacity: 0;
  z-index: 20;
  transition: all 0.8s ease 0.1s;
  position: absolute;
  vertical-align: middle;
}
.aboutme__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  position: static;
}
.aboutme__text h1 {
  margin-bottom: 20px;
  font-size: 30px;
}
@media (min-width: 500px) {
  .aboutme__text {
    text-align: left;
    margin: 0px 10px 0 20px;
  }
}
@media (min-width: 660px) {
  .aboutme__text {
    text-align: left;
    font-size: 22px;
  }
}
.aboutme__img {
  width: 200px;
  height: 200px;
  border-radius: 45%;
  opacity: 0;
  transition: all 0.8s ease 0.3s;
}
.aboutme__img._active {
  opacity: 1;
}
@media (min-width: 520px) {
  .aboutme__img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
  }
}
@media (min-width: 700px) {
  .aboutme__img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Popin Norm";
  background-color: #1c1d25;
  color: white;
}
.stack__container {
  margin: 20px 0px;
}
.stack__icon {
  width: 60px;
  height: 60px;
  margin: 3px;
  transform: translateY(100%);
  transition: all 0.4s ease 0.2s;
  opacity: 0;
}
.stack__icon._active {
  transform: translateX(0);
  opacity: 1;
}
@media (min-width: 345px) {
  .stack__icon {
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 370px) {
  .stack__icon {
    width: 75px;
    height: 75px;
    margin: 7px;
  }
}
@media (min-width: 850px) {
  .stack__icon {
    width: 85px;
    height: 85px;
    margin: 0 10px;
  }
}
.stack__text {
  font-size: 16px;
  margin: 0px 0px 20px 0;
  transform: translateY(-120%);
  opacity: 0;
  transition: all 0.8s ease 0.1s;
}
.stack__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
@media (min-width: 520px) {
  .stack__text {
    font-size: 22px;
  }
}
@media (min-width: 850px) {
  .stack__text {
    font-size: 27px;
  }
}
.stack__images {
  flex-wrap: wrap;
}
@media (min-width: 850px) {
  .stack__images {
    margin: 50px 0;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin: 30px 0;
  font-size: 16px;
  font-family: "Popin Norm";
}
.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 700px) {
  .projects__container {
    justify-content: center;
  }
}
.projects__text {
  min-height: 80px;
}
.projects__subtitle{
  font-size: 14px;
}
.projects__card {
  width: 80vw;
  height: 500px;
  margin: 7px;
  box-shadow: 5px 5px 20px #b6b6b6;
  cursor: default;
  padding: 13px;
  transition: all 0.2s ease;
}
.projects__card:hover {
  box-shadow: 7px 7px 30px #606060;
  transform: scale(1.01);
  transition: all 0.3s ease;
}
@media (min-width: 600px) {
  .projects__card {
    width: 360px;
  }
}
@media (min-width: 700px) {
  .projects__card {
    width: 300px;
  }
}
@media (min-width: 800px) {
  .projects__card {
    width: 330px;
  }
}
@media (min-width: 1100px) {
  .projects__card {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .projects__card {
    width: 350px;
    margin: 12px;
  }
}
.projects__img {
  width: 95%;
  height: 230px;
  border-radius: 10px;
}
.projects__link {
  color: white;
  display: block;
  margin: 10px;
  background-color: black;
  padding: 15px;
  border-radius: 30px;
}
.projects__link:hover {
  background-color: coral;
  color: black;
}
.projects__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}
.projects__icon {
  width: 45px;
  height: 45px;
}
.projects__icon_redux {
  width: 35px;
  height: 35px;
}

.footer {
  width: 100%;
  background-color: coral;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.footer__icon:hover {
  cursor: pointer;
  -webkit-filter: invert(0.5) sepia(1) saturate(15) hue-rotate(61deg);
  filter: invert(0.5) sepia(1) saturate(15) hue-rotate(61deg);
}
