.section {
  background-color: #0a192f;
  color: white;
  display: flex;
  flex-direction: column;

  &__content{
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
  }
  &__title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
  }
  &__line {
    width: 300px;
    border-bottom: 1px solid rgb(237, 237, 237);
    display: inline-block;
    margin-left: 10px;
  }
}
