.section {
  background-color: #0a192f;
  color: white;
  font-size: 16px;
  &__content {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // @media (min-width: 768px) {
    //   flex-direction: row;
    //   align-items: flex-start;
    // }
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__information {
    max-width: 600px;
    text-align: center;
    @media (min-width: 768px) {
      text-align: start;
    }
  }
  &__tech {
    display: grid;
    width: 70%;
    max-width: 600px;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  &__image {
    border: 3px solid rgb(12, 150, 255);
    border-radius: 5px;
    padding: 10px;
    min-width: 300px;
    max-width: 400px;
    margin: 30px 20px 0 0;
  }
}
